name: PSScriptAnalyzer
on: [push, pull_request]
jobs:
  lint:
    name: PSScriptAnalyzer
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: PSScriptAnalyzer
        uses: devblackops/github-action-psscriptanalyzer@master
        with:
          rootPath: SteamPS
          settingsPath: PSScriptAnalyzerSettings.psd1
          sendComment: true
          repoToken: ${{ secrets.GITHUB_TOKEN }}
          failOnErrors: true
          failOnWarnings: true
          failOnInfos: true
